<footer class="footer">
    <div class="footer-content">
        <h3>Contact Us</h3>

        <p>Email: <a href="mailto:info@cabadbaran.gov.ph">info@cabadbaran.gov.ph</a></p>
        <p>Phone: <a href="tel:+639123456789">+63 912 345 6789</a></p>
        <p>Website: <a href="https://www.cabadbaran.gov.ph" target="_blank">www.cabadbaran.gov.ph</a></p>

        <p class="follow-text">Follow us on:</p>

        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <p class="address">
            Sangguniang Panglungsod Office, Cabadbaran City, Philippines
        </p>

        <div class="footer-bottom">
            <p>&copy; 2025 City of Cabadbaran. All rights reserved.</p>
            <p>Developer: <strong>Janrelle L. Lubiano</strong></p>
            <p>
                Contact:
                <a href="mailto:lubianojanrelle@gmail.com">
                    lubianojanrelle@gmail.com
                </a>
            </p>
        </div>
    </div>
</footer>
