<!--partials/nav.html-->
<div class="hamburger" id="toggleSidebar">
        <i class="fa-solid fa-bars"></i>
</div>
<nav class="side-nav closed" id="sidebar">
    <div class="side-top">
        <span class="side-title">Menu</span>
        <i class="fa-solid fa-xmark close-sidebar" id="toggleSidebar"></i>
    </div>
    <div class="side-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search">
    </div>
    <a class="nav-link" data-nav="index" href="index.html">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
    <a class="nav-link" data-nav="news" href="">
        <i class="fa-regular fa-newspaper"></i>
        <span>News</span>
    </a>
    <a class="nav-link" data-nav="events" href="">
        <i class="fa-regular fa-calendar"></i>
        <span>Events</span>
    </a>
    <a class="nav-link" data-nav="live" href="">
        <i class="fa-solid fa-video"></i>
        <span>Live</span>
    </a>
    <a class="nav-link" data-nav="ordinance" href="">
        <i class="fa-solid fa-gavel"></i>
        <span>Ordinance</span>
    </a>
    <a class="nav-link" data-nav="members" href="">
        <i class="fa-solid fa-users"></i>
        <span>Members</span>
    </a>
    <a href="#" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
</nav>
